body {
  background-color: rgba(200, 204, 207, 0.925);
}

.timer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.value {
  font-size: 36px;
  color: #fff;
  border: 1px solid #5f5f66;
  border-radius: 4px;
  background-color: #5f5f66;
  padding: 15px;
}

.label {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.87);
  top: 10px;
}
